<!DOCTYPE html>
<html>
  <head>
    <title>Groceries</title>
  </head>

  <body>

    <h1><a>Groceries</a></h1>

    <% @groceries.each do |item| %>
      <li> <%= item["name"] %></li>
    <% end %>

    <% if @error %>
    <h3><%= @error %></h3>
    <% end %>

    <p>
    <form action="/grocery-list" method="post">
      <label for="name">Name:</label>
        <input type="text" id="name" name="name">
      <input type="submit" value="Add">
    </form>

  </body>
</html>
